<section class="card">
    <div class="card-body">
        <h1>about</h1>
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Amet voluptatem vero temporibus quas dolorem quos
            laudantium earum asperiores sed dolore impedit, cumque hic qui dicta perspiciatis ducimus. Neque, nihil
            odio.</p>
    </div>
</section>