<div class="card card-body p-5 mt-4">
    <h1 class="display-4">Nostas</h1>
    <p class="lead">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Odit numquam natus distinctio dicta ex
        iusto quo vitae doloremque, facilis explicabo dolore voluptatibus molestiae quia repudiandae nemo! Corporis
        nulla tempora officia?</p>
    <hr class="my-4">
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nam consectetur soluta in doloribus sequi veritatis
        aspernatur itaque accusamus quaerat eos? Laboriosam expedita fuga sequi aliquam quasi magni ipsam! Tempora,
        impedit?</p>
    <div>
        <a href="https://www.JuanDiego.com" class="btn btn-primary ">Juan Diego</a>

    </div>
</div>