<div class="row">
    <div class="col-md-4 mx-auto">
        <div class="card ">
            <div class="card-header pt-5">
                <h4 class="text-center">
                      Account Register
                </h4>
            </div>
            <div class="card-body">
                <form action="/users/signup" method="post">
                <div class="mb-3">
                     <label for="name">Name:</label>
                    <input type="text" class="form-control" name="name" placeholder="Name" value="{{name}}">
                </div>
                <div class="mb-3">
                     <label for="name">Email:</label>
                    <input type="email" class="form-control" name="email" placeholder="Email" value="{{email}}">
                </div>
                <div class="mb-3">
                     <label for="name">Password:</label>
                    <input type="password" class="form-control" name="password" placeholder="Password" value="{{password}}">
                </div>
                <div class="mb-3">
                     <label for="name">Confirm Password:</label>
                    <input type="password" class="form-control" name="confirm_password" placeholder="Confirm password" value="{{confirm_password}}">
                </div>
                <button class="btn btn-primary w-100 ">
                    signup
                </button>
                </form>
            </div>
        </div>
    </div>
</div>